<a href="https://colab.research.google.com/github/cocomarine25/EnglishPhonetics/blob/main/0315_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
a = 1; print(type(a))

# 변수의 종류는 str 아니면 숫자다.
# 숫자는 int와 float(소수)으로 나누어진다.

<class 'int'>

In [10]:
a = 1.1; print(type(a))

<class 'float'>

In [11]:
a = '123'; print(type(a)); print(a[1])

# a = apple 이렇게 되어 있으면 문자가 아니라 변수다.
# a = apple() 이렇게 되어 있으면 함수다.
# a = 'apple', '123' 이렇게 되어 있으면 문자다.

<class 'str'>
2

In [18]:
a = '123'
int(a)
print(a)

a = '123'
b = float(a)
type(b)

123

float

In [12]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [13]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

In [21]:
a = [1,'a', [3, '4']]
print(type(a))
print(a[0])
print(a[1])
print(a[2])
print(a[2][1])    #[3, '4']에서 1번째 요소
a[2][0]           #[3, '4']에서 0번째 요소

<class 'list'>
1
a
[3, '4']
4

3

In [26]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple